@model HandyFS.Mvc.Example.Models.UserCreatedModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    
    User <strong>@Model.UserName</strong> created.

</body>
</html>
